<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="client.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="MainCtrl">
    Name : <input type="text" ng-model="namelogin"/>
    Password : <input type="password" ng-model="passlogin"/>
    <button ng-click="login()">Login</button>
    <ul>
        <li ng-repeat="member in members">
            ID : {{member.creatorid}}<br/>
            Name : {{member.destination}}<br/>
            Password : {{member.description}}<br/>
            Date : {{member.date}}<br/>
        </li>
    </ul>
</div>
</body>
</html>