<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tripster</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="javascripts/failedLogin.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl">

<div class="jumbotron text-left ">
    <h1> Tripster</h1>
    <p> our travel partner</p>
</div>

<div class="row">
<div class="col-sm-4"></div>
<form class="center container col-sm-4" background-color="black">
    <div class="form-group">
        <label for="usr">
        ID: </label>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <input type="text" ng-model="namelogin" class="form-control" id="usr">
        <label for="pwd">Password:</label>
        <input type="password" ng-model="passlogin" class="form-control" id="pwd" data-toggle="popover" data-content="wrong password entered">
        <button type="submit" class=" form-control btn btn-default" ng-click="login()">submit</button>
    </div>
</form>
    </div>

<footer class="pull-right">	 <a href="https://www.facebook.com/indrabarunaputra">I.</a><a href="https://www.facebook.com/mohammad.syahidwildan">W.</a><a href="https://www.facebook.com/iffah.k.nisrina">I.</a> &copy; 2016 Ajou University</footer>

</body>
</html>
