<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTrips</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/myTrips.js"></script>

</head>
<body ng-app="myApp" ng-controller="MainCtrl">


<div class="container">

    <!--hide before login, -->
    <div class="pull-left">

        <label><% if (session.logined) { %> Welcome
            <%-session.user_id%>
            <% }
            else{

            %>
            <button class="btn btn-default " ng-click="signup()">Signup </button>
            <%

            }%>
        </label>
    </div>

    <% if (!session.logined) { %>
    <form class="form-inline right pull-right">

        <div class="form-group">
            <label for="usr">ID: </label>
            <input type="text" class="form-control" ng-model="namelogin" id="usr">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" ng-model="passlogin" id="pwd">
            <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
        </div>
    </form>
    <% }
    else{ %>
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%-session.user_id%>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownAccount">
            <li > <a ng-click="myTrip()"href="#">My Trip</a></li>
            <li > <a ng-click="addTrip()" href="#">Add Trip</a></li>
            <li ><a href="http://localhost:3000/logout">Logout</a></li>
        </ul>
    </div>
    <%}
    %>
    <!--Hide after login-->



</div>

<div class="jumbotron text-center ">
    <h1> Tripster</h1>
    <p> our travel partner</p>
</div>
<div class="container">
    <h3>My Trips</h3>
    <table class="table table-stripe table-hover">
        <thead>
        <tr>
        <tr>
            <th>Destination</th>
            <th>Date</th>
            <th>Members</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in members" style="cursor:pointer" >

            <td ng-click="show(member.eventid)">{{member.destination}}</td>
            <td ng-click="show(member.eventid)">{{member.datevalue}}</td>
            <td ng-click="show(member.eventid)">{{member.totalFollower}}</td>

        </tr>
        </tbody>
    </table>
</div>

<footer class="pull-right">	 <a href="https://www.facebook.com/indrabarunaputra">I.</a><a href="https://www.facebook.com/mohammad.syahidwildan">W.</a><a href="https://www.facebook.com/iffah.k.nisrina">I.</a> &copy; 2016 Ajou University</footer>

</body>
</html>